extends layout 

block content
    h1 login
    h2 #{title}
    h3 #{message}
    form(action="/user/login", method="post")
        .row
            .input-field.col.s6
                input#email.validate(type="email",name="email")
                label(for="email") Email
                br
        .row 
            .input-field.col.s6
                input#password.validate(type="password",name="password")
                label(for="password") Password
                br
        .row 
            button.btn.btn-primary(type="subnit") Submit   